*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:20px 100px;
    box-shadow: 1px 1px 8px  black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
nav h1 {
    font-size: 2rem;
}
nav h1 span {
    color: blue;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: blue;
    position: relative;
}


.cart i  {
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(241, 238, 238);
    padding: 5px;
    border-radius: 5px;
}

#home {
    width: 100%;
    height: 80vh;
    background: url('images/pexels-leonardo-luz-17345288.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}
.home-content {
    position: absolute;
    top: 30%;
    right: 5%;
}
.home-content h1 {
    background-color: rgb(243, 237, 237,0.5);
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 5px;
}
.home-content p {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}
.home-content button {
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 10px 14px;
    background-color: rgb(243, 237, 237,0.8);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: blue;
}
.home-content button:active {
    font-size: 20px;
}

nav .fas {
    display: none;
}
.container {
    padding: 50px ;
}
/* ------------------products-------------- */
.product-wrapper {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.product-wrapper .product-box {
    margin:20px ;
}
.product-box img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.product-box {
    width: 300px;
    border: 2px solid rgb(195, 191, 191);
    box-sizing: content-box;
    padding: 10px;
    border-radius: 5px;

}
.product-box .desc {
    padding: 10px;
}
.product-box h2,h3,p {
    margin-bottom: 10px;
}
.product-box button {
    padding: 10px 14px;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: rgb(87, 87, 235);
    color: white;
    border: none;
    border-radius: 3px;
}
.product-box:hover {
    border: 2px solid blue;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
    transition-duration: .2s;
}
.product-box button:hover {
    background-color: rgb(50, 50, 240);
}
.sub-title {
    font-size: 32px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

/* --------------Reviews------------------ */
#reviews {
    background-color: rgb(233, 230, 230);
}
.review-wrapper {
    padding: 20px 50px;
    display: flex;
    overflow-x: scroll;
}
.review-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.review-box {
    width: 300px;
    background-color: rgb(253, 251, 251);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid gray;
}
.review-box:hover {
    border:2px solid blue;
    box-shadow: 2px 2px 8px rgb(75, 75, 229);
}
.review-box h2,p{
    margin-bottom: 10px;
    text-align: center;
}
.review-box .stars {
    text-align: center;
}
.review-wrapper::-webkit-scrollbar {
    display: none;
}
/* ----------------signin------------------- */
.signin label,a{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sigin-wrapper {
    width: 800px;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 2px 2px 8px blue;
    margin: 50px auto;
    display: flex;

}
.sigin-wrapper div {
    margin: 0px 20px;
}
.signup label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.signin{
    flex-basis: 50%;
    padding: 20px;
}
.signup{
    flex-basis: 50%;
    padding: 20px;
}
.sigin-wrapper h2 {
    margin-bottom: 10px;
    color: blue;
    text-align: center;
}
.sigin-wrapper input {
    padding:5px;
    width: 100%;
    border:1px solid blue;
    outline: none;
    font-size: 16px;
}
.sigin-wrapper button {
    display: block;
    font-size: 16px;
    padding: 10px 16px;
    margin-top: 10px !important;
    width: 100%;
    background-color: rgb(94, 94, 233);
    border: none;
    color: white;
    cursor: pointer;
}
/* ------------------footer------------------- */
footer {
    background-color: rgb(94, 94, 233);
    box-shadow: 4px 4px 5px 3px black;
}
footer .add-Wrapper {
    display: flex;
    justify-content: space-between;
    padding:  0px 150px;
}
.social i {
    background-color: rgb(248, 242, 242);
    padding: 3px;
    font-size: 20px;
    border-radius: 5px; 
    cursor: pointer;  
    margin: 0px 5px;
}
footer .links ul {
    list-style-type:none;
}
footer .links ul li a{
    text-decoration: none;
    color: black;
}
footer .links ul li a:hover{
    color: rgb(168, 168, 235);
}
footer h3 {
    color: white;
    font-size: 1.5rem;
}





@media only screen and (max-width:600px){
    .home-content {
        position: absolute;
        top: 10%;
        padding: 20px;
    }
    .home-content p{
        font-size: 18px;
    }
    nav .fas {
        display: block;
        cursor: pointer;
    }

    nav {
        padding: 20px 50px;
    }

    nav ul {
        background: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 2px 2px 5px black;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .review-wrapper {
        overflow-x: scroll;
        padding: 20px;
    }
    .review-wrapper .review-box {
        width: 300px;
        box-sizing: content-box;
        flex: none;
    }
    .sigin-wrapper {
        width: 300px;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;
    }
   
    .signin , .signup{
        padding:20px 0px;
    }
    footer .add-Wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    footer .add-Wrapper div {
        margin: 20px;
    }
    footer .address {
        text-align: center;
    }
    
}
